/** {
	border: 1px solid yellow;
}*/

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

/* Main Header */

#main-banner {
	background-image: url("../img/bg-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	color: white;
}

.wrapper {
	width: 100%;
	max-width: 1186px;
	margin: 0 auto;
}

h1.logo {
	background-image: url("../img/logo-Kostech.png");
	background-repeat: no-repeat;
	text-indent: -10000px;
	width: 360px;
	height: 74px;
	float: left;
	margin-bottom: 10px;
}

#main-header nav {
	float: right;
	margin-top: 20px;
}

#main-header nav h2 {
	text-indent: -10000px;
	height: 0;
	margin: 0;
}

#main-header nav li {
	float: left;
	list-style-type: none;
	margin: 10px 0px 10px 40px;
}

#main-header nav li a {
	text-decoration: none;
	color: white;
}

#main-header hr {
	clear: both;
}

/* Section Motto */

.motto {
	width: 100%;
	margin: 100px auto 50px;
	max-width: 1800px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.motto img {
	display: block;
	margin: 10px auto;
}

.motto h1 {
	margin: 0;
}

.find-out {
	width: 100%;
	margin: 100px auto;
	max-width: 800px;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 60px;
}

.find-out p {
	margin: 0;
}

button {
    background-color: transparent;
    background-repeat:no-repeat;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    border: 2px solid rgb(15,126,194);
    cursor:pointer;
    overflow: hidden;
    margin: 20px auto 40px;
    height:60px;
	width:250px;
}

/* Section About Us */

.about-header {
	font-size: 2.2em;
	font-weight: bold;
	color: rgb(15,126,194);
}

.about-us h1 {
	margin-bottom: 25px;
}

.about-col1 {
	width: 45%;
	float: left;
	padding-right: 5%;
}

.about-col2 {
	width: 45%;
	float: right;
	padding-left: 5%;
}

.about-us p {
	font-size: 1.1em;
	line-height: 160%;
}

.about-us ul {
	font-size: 1.1em;
	line-height: 200%;
	padding-left: 0;
	margin-top: 0;
}

.about-us li {
    list-style-type: none;
}

.about-us li:before {
    content: '\2022';
    color: rgb(15,126,194);
    padding-right: 0.5em;
    font-size: 1.6em;
}

.about-col2 h2 {
	font-size: 1.8em;
	margin: 20px 0;
}

.about-col2 h2 a {
	text-decoration: none;
}

/* Section Culture */

#culture {
	background-image: url("../img/bg-about.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	color: white;
	margin: 150px 0;
	padding: 60px 0 180px;
}

.frame {
	height: 400px;
	width: 84%;
	margin: 0 auto;
}

.frame table {
	background:rgba(1,1,1,0.4);
	padding: 70px;
	line-height: 160%;
}

#line1 {
	height: 130px;
}

#line2 {
	height: 80px;
}

#line3 {
	height: 50px;
}

th {
    width: 45%;
    vertical-align: top;
    text-align: right;
    font-size: 1.1em;
    padding-right: 70px;
}

td {
    width: 55%;
    vertical-align: top;
    font-size: 0.97em;
}















.blue-text {
	color: rgb(15,126,194);
}


/* Clearfix */

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}